.wrapper {width: 100vw;}

.container {width: 80%; max-width: 1200px; margin: auto; display: flex; flex-direction: column; gap: 40px; justify-content: center; align-self: center; }

h1 {font-size: 60px; text-align: center;}

input, select {background-color: grey; border: none; padding: 10px 20px; font-size: 20px; font-weight: 500;}

form {display: flex; flex-direction: column; gap: 10px;}

button {background-color: grey!important;}

label {display: flex; flex-direction: column;}